<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->append([__DIR__.'/bin/image-storage']);
;

$config = new PhpCsFixer\Config();

return $config->setRules([
    '@Symfony' => true,
    '@Symfony:risky' => true
])->setRiskyAllowed(true)->setFinder($finder);